root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
ij_visual_guides = 80

[*.java]
indent_size = 4
ij_continuation_indent_size = 8
ij_java_blank_lines_after_package = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_after_class_header = 1
ij_java_blank_lines_before_class_end = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_method_in_interface = 1
ij_java_align_group_field_declarations = true
ij_java_align_consecutive_variable_declarations = true
ij_java_align_consecutive_assignments = true
ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_align_multiline_chained_methods = true
ij_java_align_multiline_text_blocks = true
ij_java_while_on_new_line = true

[*.xml]
indent_size = 4

[*.{yml, yaml}]
indent_size = 2
